#info{
    background: #CEE3F6;
    margin: 20% 15% 50% 15%;
    border-color: white;
    border-style: outset;
    border-radius: 10px !important;
    border-spacing: 5px;
    text-align: center;
    padding: 10px;

}
